<div mat-dialog-content>
  <div class="dialog-content" *ngIf="type === 'exhibition'">
    <h1 class="mat-h1">
      Mostra
    </h1>
    <h3 class="mat-h3">
      "{{title}}"
    </h3>
    <h3 class="mat-h3">
      Vuoi iniziare la visita?
    </h3>
  </div>
  <div class="dialog-content" *ngIf="type === 'room'">
    <h1 class="mat-h1">
      Stanza
    </h1>
    <h3 class="mat-h3">
      "{{title}}"
    </h3>
    <h3 class="mat-h3">
      Sei pronto ad entrare nella stanza?
    </h3>
  </div>
  <div class="dialog-content" *ngIf="type === 'artwork'">
    <h1 class="mat-h1">
      Opera
    </h1>
    <h3 class="mat-h3">
      "{{title}}"
    </h3>
    <h3 class="mat-h3">
      Vuoi osservare l'opera che hai di fronte?
    </h3>
  </div>
</div>
<div mat-dialog-actions style="justify-content:center;">
  <button mat-button [mat-dialog-close]="'change'">Si</button>
  <button mat-button [mat-dialog-close]="'remain'">Non ora</button>
</div>
