<h1 mat-dialog-title>Nuovo beacon Trovato!</h1>
<div mat-dialog-content>
  <p *ngIf="type === 'exhibition'">
    Mostra: {{title}} <br>
    Sei pronto a visitare la mostra?
  </p>
  <p *ngIf="type === 'room'">
    Stanza : {{title}} <br>
    Sei pronto ad entrare nella stanza?
  </p>
  <p *ngIf="type === 'artwork'">
    Opera: {{title}} <br>
    Sei pronto a vedere l'opera <br>
    che hai di fronte?
  </p>
  <p *ngIf="type === 'museum'">
    Museo : {{title}} <br>
    Leggi informazioni museo?
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="'change'">Si</button>
  <button mat-button [mat-dialog-close]="'remain'">Non ora</button>
</div>
