.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coverImg {
  max-width: 100%;
  height: auto;
}

.mat-h1 {
 color: maroon ;
 font-weight: bold;
 font-size:  20px; 
 
 }

.text {
    word-wrap: break-word;
    font-size: 18px; 
}

audio::-internal-media-controls-download-button {
  display:none;
}

audio::-webkit-media-controls-enclosure {
  overflow:hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}