.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);

  h2 {
    text-align: center;
  }
}

.svg-img {
  width: 80%;
  height: 70%;
}