<md-sidenav-container #sidenav>
  <md-sidenav mode="over" id="sidenav-menu">
    <div class="sidenav-img"></div>
    <md-nav-list>
      <a md-list-item routerLink="" routerLinkActive=true>Home Page</a>
    </md-nav-list>
  </md-sidenav>
  <div class="app-container">
    <app-header (btnClicked)="sidenav.open()"></app-header>
    <!-- Router outlet -->
    <main class="main-container" (beaconFound)="addLink($event)">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</md-sidenav-container>