.svg-container {
  // display: inline-block;
	// position: relative;
	width: 100%;
	// padding-bottom: 100%; 
	// vertical-align: middle; 
	// overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text {
	word-wrap: break-word;
	font-size: 18px; 
	padding: 10px;
	height: calc(100vh - 156px);
}